.Skills {
  display: flex;
  flex-direction: row;
  background-color: #5076cc;
  width: 100%;
  position: relative;

  .left {
    order: 0;
    padding: 16px 0;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    background-color: #5076cc;
    background-position: center;
    position: relative;

    // justify-content: space-between;

    .leftPanel,
    .rightPanel {
      display: flex;
      flex: 1;
      height: 100%;
      flex-direction: column;

      .skillCard {
        margin: 8px 14px;

        background-color: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        flex: 1;

        transition: 0.4s ease-out;

        &:hover {
          transform: translateY(-8px);
        }

        .cardTitle {
          padding: 8px;
          margin-bottom: 4px;
          background-color: #001746;
          color: white;
          font-size: 22px;
          border-radius: 12px 12px 0 0;

          h4 {
            position: relative;
            top: -1px;
            margin: 0;
            padding: 0;
          }
        }

        .cardContent {
          padding: 12px 16px;
          text-align: left;
          font-family: 'OpenSans';

          p {
            margin: 0;
            padding: 0;
          }

          .skillContainer {
            padding-bottom: 14px;

            .title {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              .percentage {
                color: rgb(95, 95, 95);
                font-size: 15px;
              }
            }

            h5 {
              padding: 0;
              margin: 0;
              font-size: 20px;
            }

            &.coding {
              h5 {
                font-size: 17px;
                padding-bottom: 5px;
              }
            }

            p {
              margin: 0;
              padding: 0;
              color: rgb(95, 95, 95);
              padding-bottom: 3px;
              font-size: 15px;
            }
            .progress {
              height: 10px;

              &.purple .progress-bar {
                background-color: rgb(142, 11, 168);
              }
              &.lightblue .progress-bar {
                background-color: rgb(13, 160, 245);
              }
              &.gold .progress-bar {
                background-color: rgb(245, 183, 13);
              }
              &.green .progress-bar {
                background-color: rgb(33, 139, 0);
              }
              &.lightred .progress-bar {
                background-color: rgb(255, 86, 80);
              }
              &.lightgreen .progress-bar {
                background-color: rgb(88, 228, 23);
              }
              &.magenta .progress-bar {
                background-color: rgb(223, 28, 148);
              }
              &.darkblue .progress-bar {
                background-color: rgb(0, 0, 117);
              }
              &.orange .progress-bar {
                background-color: rgb(255, 116, 36);
              }
            }

            .skill-pill-bar {
              position: relative;
              margin-top: 4px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              width: 100%;
            }

            .skill-pill {
              display: flex;
              // height: 20px;
              margin: 2px;
              padding: 0px 10px;
              border-radius: 50px;
              border: 1px solid;
              font-family: 'Inconsolata';
              font-size: 15px;
              flex-grow: 1;
              justify-content: center;

            
              &.purple {
                background-color: rgb(210, 60, 255);
                border-color: #4c005c;
                color: rgb(10, 2, 2);
              }
              &.lightblue {
                background-color: rgb(57, 181, 253);
                border-color: #002c85;
                color: rgb(48, 48, 48);
              }
              &.gold {
                color: rgb(48, 48, 48);
                border-color: #725700;
                background-color: rgb(245, 183, 13);
              }
              &.green {
                color: rgb(48, 48, 48);
                border-color: #00530e;
                background-color: rgb(47, 182, 6);
              }
              &.lightred {
                background-color: rgb(255, 86, 80);
              }
              &.lightgreen {
                background-color: rgb(88, 228, 23);
              }
              &.magenta {
                background-color: rgb(223, 28, 148);
              }
              &.darkblue {
                background-color: rgb(0, 0, 117);
              }
              &.orange {
                background-color: rgb(255, 116, 36);
              }

              &:hover {
                opacity: 0.85;

              }
            }

          }

          .otherSkillInfo {
            font-size: 16px;

            .more {
              color: rgb(95, 95, 95);
              font-size: 14px;
            }
          }
        }

        &.horizontal {
          flex-direction: row;
          flex: 0;
          .cardTitle {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 24px;
            border-radius: 12px 0 0 12px;
          }

          .cardContent {
            padding: 4px 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
      }
    }
  }

  .right {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: #284780;
    align-items: center;
    justify-content: center;

    h3 {
      color: white;
      margin: 0;
      padding: 0 8px;
      position: relative;
      top: 14px;
    }
  }
}

@media (max-width: 1200px) {
  .Skills {
    flex-direction: column;
    .left {
      flex-direction: column;
      order: 1;
      margin: 0;
      align-items: center;

      .skillCard {
        width: 550px;
      }
    }
    .right {
      flex-direction: row;
      width: 100%;
      padding: 0;

      justify-content: center;
      align-items: center;

      .image {
        height: 90px;
        padding-left: 10px;
      }

      h3 {
        top: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .Skills {
    pointer-events: none;
    .left {
      .skillCard {
        max-width: 90vw;
      }
    }
  }
}
