@import '~bootstrap/scss/bootstrap';

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: 'Oswald-Medium';

  @media (min-width: 960px) {
    .anchor {
      position: relative;
      top: -48px;
    }
  }
}
