@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url('./assets/fonts/Oswald-Regular.ttf') format('truetype'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'Oswald-Medium';
  src: local('Oswald-Medium'), url('./assets/fonts/Oswald-Medium.ttf') format('truetype'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'Oswald-Light';
  src: local('Oswald-Light'), url('./assets/fonts/Oswald-Light.ttf') format('truetype'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'Oswald-SemiBold';
  src: local('Oswald-SemiBold'), url('./assets/fonts/Oswald-SemiBold.ttf') format('truetype'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url('./assets/fonts/OpenSans-Regular.ttf') format('truetype'); /* Super Modern Browsers */
}

*,
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-top: 50px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
